* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

$color-primary: #579aff;
$color-primary-dark: #4180df;
$color-secondary: #272e35;
$color-pink: #ff858d;
$color-grey: #a5b2c3;

@keyframes pulsate {
  10% {
    transform: translateY(-1.5rem);
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.13);
  }
  20% {
    box-shadow: none;
    transform: translateY(0);
  }
}
