.btn {
  display: inline-block;
  outline: none;
  font-size: 1.5rem;
  padding: 2rem 4rem;
  color: $color-grey;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid currentColor;
  cursor: pointer;
  transition: transform 0.3s;

  &--no-border {
    border-color: transparent;
  }

  &--blue {
    @include blueBtn;
  }
  &--narrow-pad {
    padding-inline: 2rem;
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.3rem 1rem rgba(#000, 0.4);
    color: $color-secondary;
  }
  &--blue:hover {
    color: #fff;
  }
}
