.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
  line-height: 1;

  @include atExtraMedium {
    padding-left: 4rem;
    padding-right: 3rem;
    flex-direction: row;
    align-items: flex-start;
  }

  &__left {
    display: grid;
    row-gap: 2rem;
    margin: 4rem auto 6rem auto;
    text-align: center;
    font-weight: 300;
    justify-content: center;

    & > * {
      justify-content: center;
    }

    @include atExtraMedium {
      row-gap: 4rem;
      text-align: left;
      margin: 0;
      margin-right: auto;
      max-width: 21rem;

      & > * {
        justify-content: start;
      }
    }
  }
  &__description {
    font-size: 1.5rem;
    line-height: normal;
  }

  &__social {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }

    a {
      font-size: 1.8rem;
      color: #fff;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        background-color: #ff7979;
      }
      &:nth-child(2) {
        background-color: $color-primary;
      }
      &:last-child {
        background-color: #ffb979;
      }
    }
  }

  &__right {
    display: grid;
    grid-template-columns: max-content;
    column-gap: 6vw;

    @include atSmall {
      grid-template-columns: repeat(3, max-content);
    }
  }

  &__group {
    margin-bottom: 5rem;
    text-align: center;

    @include atSmall {
      text-align: initial;
      margin-bottom: 0;
    }
  }

  &__heading {
    margin-bottom: 3.5rem;
    font-weight: 500;
    font-size: 2rem;
  }

  &__list {
    display: grid;
    row-gap: 3rem;
  }
  &__link:hover {
    color: $color-primary;
  }
}
