.header {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  background-color: rgba(#fff, 0.95);
  z-index: 50;

  & > *:first-child {
    // align zulu logo - push nav away from the logo
    margin-right: auto;
  }

  // HEADER STICKy
  position: sticky;
  top: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s;

    padding-block: 1rem;
    font-size: 1.5rem;
    background-color: rgba(#fff, 0.95);
    row-gap: 4rem;
    z-index: 20;

    @include atMedium {
      gap: 0rem;
      flex-direction: row;
      justify-content: flex-end;
      position: static;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  // Show the navigation
  &__wrapper--active {
    font-size: 3rem;
    height: 100vh;
    opacity: 1;
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    @include atMedium {
      margin-right: 2rem;
      flex-direction: row;
      column-gap: 6rem;
    }
    @include atLarge {
      column-gap: 7rem;
    }

    &__link:hover {
      color: $color-primary;
    }
  }

  .header__auth {
    .btn:first-child {
      @include atMedium {
        border: 0;
      }
    }
    // Toggle Sign Up button to hav more space
    .btn:last-child {
      @include atMedium {
        display: none;
      }
      @include atExtraMedium {
        display: inline-block;
      }
    }
  }

  // Navigation btn
  &__nav-btn {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 100;

    @include atMedium {
      // hide when the nav visible
      display: none;
    }
  }

  &__nav-icon {
    width: 100%;
    height: 2px;
    color: $color-secondary;
    background-color: currentColor;
    transition: background-color 0.5s;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      transition: transform 0.3s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  // Nav btn hover effect
  &__nav-btn:hover &__nav-icon {
    color: $color-primary;
  }

  // Nav btn animation when clicked
  &__nav-btn--active &__nav-icon {
    & {
      background-color: transparent;
      transition: background-color 0s;
    }
    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(225deg);
    }
  }

  // Notification '* This feature will be available soon.'
  &__notice {
    min-height: 4rem;
    opacity: 0;
    height: 0;

    //when the nav is shown
    @include atMedium {
      padding: 1rem 2rem;
      position: absolute;
      top: 80%;
      border-radius: 1rem;
      box-shadow: 0 0.2rem 0.2rem rgba(#000, 0.2);
    }

    &--active {
      opacity: 1;
      height: auto;
      transition: all 0.3s;
    }
  }
}

// using format from hv-wrapper class too
.banner {
  margin-top: 7.5rem;

  &__img {
    @include atLarge {
      transform: translate(0, -40px);
    }
  }
  .btn:first-child {
    margin-bottom: 1rem;
    @include atSmall {
      margin-bottom: 0;
      margin-right: 4rem;
    }
  }
}
