.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  background-color: #fff;
  color: $color-secondary;
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.5rem 1.5rem 0 1.5rem;

  @include atMedium {
    padding: 4.5rem 3rem 0 3rem;
  }
}

.hv-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include atLarge {
    flex-direction: row;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    text-align: center;

    p {
      max-width: 50rem;
      margin-inline: auto;
    }

    @include atLarge {
      text-align: initial;
      align-items: flex-start;
      width: 35%;
    }
  }
  & > img {
    width: 100%;
    max-width: 60rem;

    @include atLarge {
      width: 65%;
      max-width: initial;
    }
  }
}

.section-col-container {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 4.5rem;
}
// SECTION LAYOUT
// SECTION ABOUT-----------
.about {
  &__content {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;

    @include atLarge {
      margin-top: 7rem;
      gap: 7rem;
    }

    & > div {
      flex: 0 0 32rem;
    }
  }
}

// SECTION STUDIO
// using format from hv-wrapper class too
.studio {
  margin-top: 10rem;

  @include atLarge {
    flex-direction: row;
    // hide the bar on the right
    .heading-3::after {
      content: none;
    }

    &__img {
      transform: scale(1.05) translateX(1rem);
    }
  }
}

// SECTION PRICE -----------
.price {
  &__content {
    width: 100%;
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;

    text-align: left; // reset the center value of section-col-container

    & > div {
      width: 31rem;
    }

    h4 {
      font-weight: 500;
      font-size: 3rem;
    }
  }
  &__top-box {
    width: 100%;
  }
  &__price {
    // TEXT: $9/MONTH
    font-size: 2.3rem;
    font-weight: 600;
    position: relative;
    padding-left: 0.7em;
    line-height: 1;
    margin-top: 2.5rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba($color-grey, 0.3);

    sup {
      font-size: 2.5rem;
      font-weight: 500;
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      font-size: 6rem;
      font-weight: 500;
    }
  }

  .card {
    position: relative;

    &__popular {
      position: absolute;
      color: #fff;
      background-color: $color-pink;
      background-image: linear-gradient(#e9777e, #f79399, #e9777e);
      padding: 1rem 1.5rem;
      top: 0;
      right: 0;
      border-radius: 0 2rem;
      overflow: hidden;

      // Slash effect on the "Most Popular" mark
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, transparent, #fff 20%, #fff 80%, transparent);
        position: absolute;
        top: 0;
        left: -116%;
        transform: skewX(-45deg);
        transition: left 0.3s;
      }
    }

    &:hover .card__popular::after {
      left: 116%;
    }

    &__info {
      color: $color-grey;
    }

    &__item {
      margin-top: 3rem;
      color: $color-grey;
      display: flex;
      align-items: center;

      &:last-child {
        margin-bottom: 5rem;
      }

      i {
        font-size: 2.2rem;
        margin-right: 0.5rem;
      }
    }
    &:hover li {
      color: $color-primary;
    }
  }
}

// SECTION CLIENT
.clients {
  .heading-2 {
    max-width: 45rem;
    margin-top: 2.5rem;
  }
  &__slider {
    overflow: hidden;
    width: 100%;
  }

  &__content {
    display: flex;
    transition: all 0.3s;

    text-align: center;
    justify-content: center;
    column-gap: 3rem;

    @include atLarge {
      column-gap: 7rem;
      margin-top: 8rem;
    }
  }
  .card {
    flex: 1 0 30rem;
    row-gap: 0;
    // width: 30rem;

    h4 {
      margin: 2rem auto 1rem auto;
      font-size: 3rem;
      font-weight: 500;
      color: $color-secondary;
    }
    &__job {
      padding-bottom: 3rem;
      border-bottom: 1px solid rgba($color-grey, 0.3);
      align-self: stretch;
    }

    .generic-text {
      padding-top: 2.5rem;
      padding-bottom: 3rem;
    }

    &__star-box {
      color: #ffcb46;
    }
  }
  &__arrow-box {
    user-select: none;
    margin-top: 1rem;
    color: $color-grey;
    font-size: 3rem;

    i:first-child {
      margin-right: 4rem;
    }

    i:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}

// SECTION CALL TO ACTION
.cta {
  margin-top: 11rem;
  margin-bottom: 6.5rem;
  width: 100%;

  &__content {
    width: 100%;
    margin-inline: auto;
    background-color: #fbfbfb;
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0.5rem;

    @include atMedium {
      padding: 6.5rem;
      width: 80%;
    }
    & > *:not(img) {
      z-index: 10;
    }

    h2 {
      max-width: 46rem;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
    a {
      margin-top: 5.5rem;
    }
    p {
      max-width: 26rem;
      text-align: center;
    }
  }

  &__smile {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-20%) scale(0.4);
    opacity: 0.5;
    transform-origin: right;
  }
  &__chat {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    transform: scale(0.6);
    transform-origin: left;
  }

  @include atMedium {
    &__smile {
      transform: translate(50%, -40%);
      opacity: 1;
    }

    &__chat {
      opacity: 1;
      transform: scale(1);
    }
  }

  .btn {
    animation: pulsate 2s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;

    &:hover {
      animation: none;
    }
  }
}
