// format to blue button
@mixin blueBtn {
  background-color: $color-primary;
  color: #fff;
  border: 1px solid $color-primary-dark;
}

@mixin atSmall {
  // 500px
  @media screen and (min-width: 31.25em) {
    @content;
  }
}

@mixin atMedium {
  // 800px
  @media screen and (min-width: 50em) {
    @content;
  }
}

@mixin atExtraMedium {
  // 900px
  @media screen and (min-width: 56.25em) {
    @content;
  }
}

@mixin atLarge {
  // 1200px
  @media screen and (min-width: 75em) {
    @content;
  }
}
